section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

section[id=primary]{
    background: linear-gradient(0deg, rgba(101,34,195,1) 0%, rgba(34,153,195,1) 82%);
    position: relative;
}

section[id=three]{
    background: linear-gradient(0deg,  rgba(34,153,195,1) 82%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

section[id=secondary]{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background: linear-gradient(0deg, rgba(101,34,195,1) 0%, rgba(34,153,195,1) 82%);
}

section[id=secondary] div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 35px;
    cursor: pointer;
    color: coral;
}


section[id=secondary] .icons{
    border-radius: 35px;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
}


h1[id=name] {
    font-size: 85px;
    font-family: 'Lobster', cursive;
    position: relative;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Lobster&display=swap');
h2 {
    font-family: 'Creepster', cursive;
    font-size: 95px;
    position: relative;
    animation-name: move2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes move {
    0%   {color:salmon; top:0px;}
    25%  {color:yellow; top:20px; }
    50%  {color:salmon; top:0px; }
    75%  {color:yellow; top:20px; }
    100% {color:salmon; top:0px;}
  }

  @keyframes move2 {
    0%   {color:yellow; left:0px;}
    25%  {color:salmon; left:20px;}
    50%  {color:yellow; left:20px;}
    75%  {color:salmon; left:0px;}
    100% {color:yellow; left:0px;}
  }

  @media (max-width: 800px){
      h1 {
        font-size: 25px;
      }
      h1[id=name] {
          font-size: 60px;
          margin-left: 15%;
      }
      h2 {
        font-size: 60px;
        margin-left: 15%;
      }

      section[id=secondary] {
          display: flex;
          align-items: flex-end;
          justify-content: space-evenly;
          flex-direction: row;
          padding-bottom: 20px;
          background: linear-gradient(0deg, rgba(101,34,195,1) 0%, rgba(34,153,195,1) 82%);
      }
      section[id=secondary] div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        background-color: black;
        border-radius: 25px;
        cursor: pointer;
        color: coral;
    }

    section[id=secondary] .icons{
        border-radius: 30px;
        cursor: pointer;
        width: 4rem;
        height: 4rem;
    }
  }